@import "tailwindcss";


/* For Chrome, Edge, Safari */

body {
    background-color: #fffdf0;
    font-family: "Poppins";
}
::-webkit-scrollbar {
  width: 8px;
  background: #0495d6;
}

::-webkit-scrollbar-thumb {
  background: #ffec70;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0495d6;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffec70 #f3f4f6;
}