@import "tailwindcss";


/* For Chrome, Edge, Safari */

body {
    background-color: #fffdf0;
    font-family: "Poppins";
}
::-webkit-scrollbar {
  width: 8px;
  background: #f3f4f6;
}

::-webkit-scrollbar-thumb {
  background: #dc241e;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #620000;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #115237 #f3f4f6;
}